# Node version should be managed with .nvmrc instead of node-version
engine-strict=true
package-lock=true
# registry=https://registry.npmjs.org/

# Auto install peers should be set in .npmrc home directory or as a CLI flag
# Use --legacy-peer-deps flag if needed for specific installs
